body, html
{
    background-color: black;
    margin: 0;
}

#movie-2-div
{
    margin: 0 auto;
}

#video
{
    margin-top: 3%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.photo
{
    margin-top: 3%;
    width: 400px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    animation: photoAnimation 8s forwards;
}

.links
{
    display: block;
    margin-top: 20px;
    text-align: center;
    color: lightgrey;
    font-size: 60px;
    font-family: 'Amatic SC', monospace;
    animation: fadeIn 2s ease-in;
}

a
{
    color: lightgrey;
    text-decoration: none;
}

a:hover
{
    color: green;
    cursor: pointer;
}

.hide
{
    display: none;
}

@keyframes photoAnimation {
    from{opacity: 0.0;}
    to{opacity: 1.0;}
}

.animate-in
{
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}

.animate-out
{
    transition: opacity 1.5s ease-out;
    opacity: 0;
}