body
{
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    background-color: black;
    color: lightgrey;
    font-size: 28px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    margin: 0;
}

#pojemnik
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#plansza
{
    width: 900px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 48px;
    min-height: 90px;
}

#szubienica
{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#alfabet
{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

.litera
{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}

.litera:hover
{
    background-color: #222222;
    color: white;
    border: 3px solid white;
}

.reset
{
    color: green;
    cursor: pointer;
    font-size: 48px;
    animation: resetAnimation 3s forwards;
}

.reset:hover
{
    color: white;
}

@keyframes resetAnimation {
    from {opacity: 0;}
    to {opacity: 1.0;}
}

.animate-in
{
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}

.animate-out
{
    transition: opacity 1.5s ease-out;
    opacity: 0;
}