body, html
{
    margin: 0;
    background-color: black;
    color: lightgrey;
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#kontener
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    overflow-y: hidden;
}

embed
{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.animate-in-kontener
{
    animation: fadeIn 3s ease-in;
}

@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}